.pngitem-372864-1-icon {
  position: absolute;
  top: 176px;
  left: 206px;
  width: 913px;
  height: 434px;
  object-fit: cover;
}

.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(243, 21, 89, 0.1);
  width: 1440px;
  height: 542px;
}

.swift-reliable-ok {
  margin: 0;
  color: #21334F;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.swift-reliable-head {
  margin: 0;
  color: #21334F;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.swift-reliable {
  margin: 0;

}

.swift-reliable-seamless-container {
  position: relative;
  font-size: 65px;
  letter-spacing: -0.5px;
  line-height: 120%;
  display: inline-block;
  width: 597px;
}

.one-time-service,
.your-sure-plug-container {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 140%;
}

.your-sure-plug-container {
  display: inline-block;
  width: 550px;
}

.one-time-service {
  font-weight: 600;
  color: #FFFFFF;
}

.one-time-service-wrapper {
  border-radius: 8px;
  ;
  background-color: #F31559;
  width: 223px;
  height: 54px;
  display: flex;
  flex-direction: row;
  padding: 14.5px 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.swift-reliable-seamless-deli-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}

.shutterstock-ptlgsg3jtd-remove-icon {
  position: relative;
  width: 615px;
  height: 441px;
  object-fit: cover;
}

.frame-parent {
  position: absolute;
  top: 50px;
  left: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 93px;
}

.rectangle-parent {
  position: absolute;
  top: 96px;
  left: 0;
  width: 1440px;
  height: 542px;
  font-size: var(--body-text-normal-16-size);
}

.why-should-you-container {
  position: relative;
  display: inline-block;
  width: 454px;
  color: #21334F;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.affordable-pricing,
.have-your-goods {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 219px;
  font-size: 24px;
}

.have-your-goods {
  top: 45px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  width: 432px;
  height: 57px;
  font-size: 18px;
}

.affordable-pricing-parent {
  position: absolute;
  top: 0;
  left: 44px;
  width: 432px;
  height: 102px;
}

.get-a-dispatch,
.start-up-your {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 335px;
  font-size: 24px;
}

.start-up-your {
  top: 45px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  width: 401px;
  font-size: 18px;
}

.get-a-dispatch-bike-parent {
  position: absolute;
  top: 126px;
  left: 44px;
  width: 401px;
  height: 99px;
}

.trusted-logistics-services,
.we-deliver-with {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 321px;
  font-size: 24px;
}

.we-deliver-with {
  top: 45px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  width: 410px;
  font-size: 18px;
}

.frame-item,
.prompt-service-parent,
.trusted-logistics-services-parent {
  position: absolute;
  top: 249px;
  left: 44px;
  width: 410px;
  height: 99px;
}

.frame-item,
.prompt-service-parent {
  top: 372px;
}

.frame-item {
  top: 3px;
  left: 0;
  width: 20px;
  height: 468px;
}

.frame-container {
  position: relative;
  width: 476px;
  height: 471px;
}

.group-child {
  object-fit: cover;
}

.group-child,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 530px;
  height: 546px;
}

.group-wrapper {
  position: relative;
  width: 530px;
  height: 546px;
  overflow: hidden;
  flex-shrink: 0;
}

.frame-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
  font-size: var(--font-size-5xl);
}

.why-should-you-use-our-service-parent {
  position: absolute;
  top: 2252px;
  left: calc(50% - 603px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

.frame-child1,
.frame-inner,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #012a4a;
  width: 1440px;
  height: 566px;
}

.frame-child1,
.rectangle-div {
  left: 730px;
  background-color: #f31559;
  width: 710px;
}

.frame-child1 {
  left: 0;
  background-color: rgba(0, 0, 0, 0.04);
  width: 220px;
  height: 208px;
}

.b {
  position: absolute;
  top: 100px;
  left: 57px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.delivered-package {
  position: absolute;
  top: 165px;
  left: 31px;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
}

.bxbox-icon,
.rectangle-container {
  position: absolute;
  top: 20px;
  left: 78px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.rectangle-container {
  top: 59px;
  left: 849px;
  width: 220px;
  height: 208px;
}

.b1,
.office-wordwide {
  position: absolute;
  top: 100px;
  left: 99px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.office-wordwide {
  top: 165px;
  left: 35px;
  font-size: 18px;
}

.frame-div {
  position: absolute;
  top: 59px;
  left: 1101px;
  width: 220px;
  height: 208px;
  overflow: hidden;
}

.b2,
.employees {
  position: absolute;
  top: 100px;
  left: 88px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.employees {
  top: 165px;
  left: 62px;
  font-size: 18px;
}

.frame-child4,
.rectangle-parent1 {
  position: absolute;
  width: 220px;
  height: 208px;
}

.rectangle-parent1 {
  top: 299px;
  left: 849px;
  overflow: hidden;
}

.frame-child4 {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.b3,
.customers {
  position: absolute;
  top: 165px;
  left: 60px;
  color: #FFF;
  font-size: 18px;
}

.b3 {
  top: 100px;
  left: 58px;
  font-size: 40px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.icon-park-outlineopen-an-acco,
.rectangle-parent2 {
  position: absolute;
  top: 20px;
  left: 77px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.rectangle-parent2 {
  top: 299px;
  left: 1101px;
  width: 220px;
  height: 208px;
  font-size: var(--font-size-lg);
}

.the-swiftest-logistics {
  position: absolute;
  top: 80px;
  left: 70px;
  display: inline-block;
  text-align: left;
  width: 505px;
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pngitem-372864-1-icon1 {
  position: absolute;
  top: 235px;
  left: 70px;
  width: 577px;
  height: 274px;
  object-fit: cover;
}

.rectangle-group {
  position: absolute;
  top: 1606px;
  left: 0;
  width: 1440px;
  height: 566px;
  overflow: hidden;
  text-align: center;
  color: var(--white);
}

.frequently-asked-questions {
  position: absolute;
  top: 0;
  left: 151px;
  display: inline-block;
  width: 557px;
  color: #21334F;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.what-are-your {
  position: absolute;
  top: 1px;
  left: 0;
  color: #21334F;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 32px;
  padding-left: 32px;

}

.stockholm-icons-navigation-child {
  position: absolute;
  height: 8.33%;
  width: 66.67%;
  top: 45.83%;
  right: 16.67%;
  bottom: 45.83%;
  left: 16.67%;
  border-radius: 1.5px;
  background-color: #21334f;
}

.stockholm-icons-navigation {
  position: relative;
  height: 100%;
  width: 3.02%;
  top: 45.83%;
  right: 16.67%;
  bottom: 45.83%;
  left: 96.98%;
}

.what-are-your-delivery-rates-parent {
  position: relative;
  width: 796px;
  height: 24px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.the-pickupdrop-off {
  position: relative;
  font-size: var(--body-text-normal-16-size);
  line-height: 27px;
  display: inline-block;
  width: 781px;
  height: 32px;
  flex-shrink: 0;
  padding-left: 32px;
  padding-bottom: 32px;
}

.frame-child5,
.frame-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f7f8f8;
}

.frame-child5 {
  width: 860px;
  height: 64px;
}

.do-you-deliver {
  position: absolute;
  top: 21px;
  left: 34px;
  color: #21334F;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rectangle-185-copy {
  position: absolute;
  height: 8.33%;
  width: 66.67%;
  top: 16.67%;
  right: -20.83%;
  bottom: 75%;
  left: 54.17%;
  border-radius: var(--br-11xs-5);
  background-color: #21334f;
  transform: rotate(90deg);
  transform-origin: 0 0;
  mix-blend-mode: normal;
}

.stockholm-icons-navigation1 {
  position: absolute;
  height: 37.5%;
  width: 2.79%;
  top: 31.25%;
  right: 3.72%;
  bottom: 31.25%;
  left: 93.49%;
}

.rectangle-parent3,
.rectangle-parent4 {
  position: absolute;
  top: 160px;
  left: 0;
  width: 860px;
  height: 64px;
  overflow: hidden;
}

.rectangle-parent4 {
  top: 480px;
}

.rectangle-parent5,
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  top: 320px;
  left: 0;
  width: 860px;
  height: 64px;
  overflow: hidden;
}

.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  top: 640px;
}

.rectangle-parent7,
.rectangle-parent8 {
  top: 400px;
}

.rectangle-parent8 {
  top: 720px;
}

.rectangle-parent9 {
  top: 240px;
  height: 64px;
  overflow: hidden;
}

.frame-parent1,
.rectangle-parent10,
.rectangle-parent9 {
  position: absolute;
  left: 0;
  width: 860px;
}

.rectangle-parent10 {
  top: 560px;
  height: 64px;
  overflow: hidden;
}

.frame-parent1 {
  top: 81px;
  height: 784px;
  font-size: var(--font-size-lg);
}

.frequently-asked-questions-parent {
  position: absolute;
  top: 4220px;
  left: calc(50% - 430px);
  width: 860px;
  height: 865px;
}

.topnotch-logistics-services {
  position: relative;
  font-weight: 800;
  color: #21334F;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}

.meeting-all-your {
  position: relative;
  font-size: 18px;
  padding-bottom: 32px;
}

.topnotch-logistics-services-parent {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.component-13-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 420px;
  height: 325px;
}

.hour-pick-up {
  position: absolute;
  top: 128px;
  left: 44px;
  font-weight: 800;
}

.wherever-you-are-container {
  position: absolute;
  top: 181px;
  left: 44px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  display: inline-block;
  width: 332px;
  height: 56px;
}

.component-13-item {
  position: absolute;
  top: 32px;
  left: 172px;
  border-radius: 50%;
  background-color: rgba(255, 204, 41, 0.1);
  width: 76px;
  height: 76px;
  display: none;
}

.motorcycle-icon {
  position: absolute;
  top: 32px;
  left: 44px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.component-13 {
  position: relative;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.04);
  width: 420px;
  height: 325px;
  overflow: hidden;
  flex-shrink: 0;
}

.international-couriers {
  position: absolute;
  top: 130px;
  left: 44px;
  font-weight: 800;
}

.we-currently-deliver {
  position: absolute;
  top: 183px;
  left: 44px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  display: inline-block;
  width: 332px;
  height: 84px;
}

.airplane-icon {
  position: absolute;
  top: 32px;
  left: 44px;
  width: 66px;
  height: 66px;
  overflow: hidden;
}

.we-offer-quick {
  position: absolute;
  top: 181px;
  left: 44px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  display: inline-block;
  width: 332px;
  height: 58px;
}

.component-13-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}

.give-us-the {
  position: absolute;
  top: 181px;
  left: 44px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  display: inline-block;
  width: 332px;
  height: 60px;
}

.haulage {
  position: absolute;
  top: 128px;
  left: 47px;
  font-weight: 800;
}

.with-our-intricate {
  position: absolute;
  top: 181px;
  left: 43px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  display: inline-block;
  width: 332px;
  height: 84px;
}

.delivery-icon1 {
  position: absolute;
  top: 32px;
  left: 47px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.packaging-storage {
  position: absolute;
  top: 108px;
  left: 44px;
  font-weight: 800;
}

.offering-quality-package {
  position: absolute;
  top: 161px;
  left: 44px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  display: inline-block;
  width: 332px;
  height: 58px;
}

.delivery-icon2 {
  position: absolute;
  top: 32px;
  left: 44px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}

.frame-parent3,
.frame-parent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

.frame-parent4 {
  align-items: flex-start;
  font-size: var(--font-size-5xl);
}

.frame-parent3 {
  position: absolute;
  top: 718px;
  left: 70px;
  align-items: center;
}

.frame-child13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  ;
  width: 1440px;
  height: 583px;
}

.image-8-icon,
.kisspng-suzuki-v-strom-1000-su-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1000px;
  object-fit: cover;
}

.kisspng-suzuki-v-strom-1000-su-icon {
  left: 513px;
  width: 1057px;
  height: 792px;
}

.kisspng-coffee-polka-dot-coffe-icon {
  position: absolute;
  top: 386px;
  left: 1192px;
  width: 248px;
  height: 197px;
  object-fit: cover;
}

.get-speedy-delivery,
.we-deliver-anywhere {
  position: relative;
  letter-spacing: 0.25px;
  line-height: 140%;
  display: inline-block;
  width: 534px;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
}

.we-deliver-anywhere {
  font-size: 16px;
  letter-spacing: 0.15px;
  width: 477px;
}

.get-speedy-delivery-service-wi-parent {
  position: absolute;
  top: 95px;
  left: 836px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  color: #21334F;

}

.kisspng-suzuki-v-strom-1000-su-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 779px;
  height: 584px;
  object-fit: cover;
}

.rectangle-parent11 {
  position: absolute;
  top: 3006px;
  left: 0;
  width: 1440px;
  height: 583px;
  overflow: hidden;
}

.what-customers-say {
  position: absolute;
  top: 0;
  left: calc(50% - 316px);
  color: #21334F;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.frame-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: #f7f8f8;
  width: 530px;
  height: 318px;
}

.david-gillroy,
.david-gillroy1 {
  position: absolute;
  top: calc(50% - 57px);
  left: 32.45%;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #21334F;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.361px;
}

.david-gillroy1 {
  top: calc(50% - 80px);
  left: 45.47%;
  font-size: 80px;
  color: #d8d8d8;
}

.digital-artist-at-container {
  position: absolute;
  width: 90.38%;
  top: calc(50% - 11px);
  left: 4.72%;
  font-size: 14px;
  letter-spacing: -0.29px;
  line-height: 26px;
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}

.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 530px;
  height: 318px;
  overflow: hidden;
  border-radius: 24px;
}

.david-gillroy2 {
  position: absolute;
  top: calc(50% - 57px);
  left: 42.45%;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #21334F;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.361px;
}

.digital-artist-at {
  position: absolute;
  width: 87.55%;
  top: calc(50% - 11px);
  left: 6.23%;
  font-size: var(--body-text-normal-16-size);
  letter-spacing: -0.29px;
  line-height: 26px;
  text-align: left;
  display: inline-block;
}

.david-gillroy3 {
  position: absolute;
  top: calc(50% - 57px);
  left: 32.45%;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #21334F;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.361px;
  position: absolute;
  top: calc(50% - 79px);
  left: 44.53%;
  font-size: 80px;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #d8d8d8;

}

.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 1100px;
  width: 530px;
  height: 318px;
  overflow: hidden;
  border-radius: 24px;
}

.david-gillroy4 {
  position: absolute;
  top: calc(50% - 57px);
  left: 46.23%;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #21334F;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.361px;
}

.digital-artist-at1 {
  position: absolute;
  width: 88.87%;
  top: calc(50% - 11px);
  left: 5.47%;
  font-size: var(--body-text-normal-16-size);
  letter-spacing: -0.29px;
  line-height: 26px;
  text-align: left;
  display: inline-block;
}

.david-gillroy5 {
  position: absolute;
  top: calc(50% - 57px);
  left: 32.45%;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #21334F;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.361px;
  position: absolute;
  top: calc(50% - 87px);
  left: 44.53%;
  font-size: 80px;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #d8d8d8;
}

.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 1650px;
  width: 530px;
  height: 318px;
  overflow: hidden;
  border-radius: 24px;
}

.david-gillroy6 {
  position: absolute;
  top: calc(50% - 57px);
  left: 11.32%;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #21334F;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.361px;
}

.digital-artist-at2 {
  position: absolute;
  width: 83.4%;
  top: calc(50% - 11px);
  left: 8.3%;
  font-size: var(--body-text-normal-16-size);
  letter-spacing: -0.29px;
  line-height: 26px;
  text-align: left;
  display: inline-block;
}

.david-gillroy7 {
  position: absolute;
  top: calc(50% - 57px);
  left: 32.45%;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #21334F;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.361px;
  position: absolute;
  top: calc(50% - 80px);
  left: 44.53%;
  font-size: 80px;
  letter-spacing: -0.36px;
  line-height: 30px;
  color: #d8d8d8;

}

.rectangle-parent15 {
  position: absolute;
  top: 0;
  left: 550px;
  width: 530px;
  height: 318px;
  overflow: hidden;
  border-radius: 24px;
}

.frame-parent6 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 1286px;
  height: 318px;
  overflow-x: auto;
  font-size: var(--font-size-xl);
}

.frame-icon {
  position: absolute;
  top: 208px;
  left: 14px;
  width: 1272px;
  height: 64px;
}

.what-customers-say-about-login-parent {
  position: relative;
  width: 1286px;
  height: 399px;
}

.ellipse-div,
.frame-child18 {
  position: relative;
  border-radius: 50%;
  background-color: #f31559;
  width: 16px;
  height: 16px;
}

.frame-child18 {
  background-color: #d9d9d9;
}

.ellipse-parent,
.frame-parent5 {
  display: flex;
  justify-content: flex-start;
}

.ellipse-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: 18px;
}

.frame-parent5 {
  position: absolute;
  top: 3669px;
  left: 17px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  text-align: center;
}

.landing-page {
  /* position: relative; */
  background-color: var(--white);
  width: 100%;
  height: 5459px;
  overflow: hidden;
  text-align: left;
  font-size: var(--headline-bold-40-size);
  color: #21334f;
  font-family: var(--body-text-normal-16);

}