body {
    background-color:  #F7F7F7;
    /* margin-top: 12%; */
}

.lcontainer {
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    width: 50%;
    width: 400px;
    height: 320px;
    margin: auto;
    text-align: center;
}

.hi {
    text-align: center;
    padding: 0 10px 0 20px;
}

.popbox {
    align-items: center;
    background-color: var(--white);
    flex-direction: column;
    width: 300px;
    margin-top: 45%;
    gap: 5px;
    justify-content: center;
    padding: 42px;
    position: relative;
}

h2 {
    color: #012a4a;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

p {
    color: #101828;
    font-family: "Inter-Regular", Helvetica;
    /* font-size: 14px; */
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}

#input1 {
    resize: vertical; 
    min-height: 25px !important; 
    max-height: 40px !important;
    width: 283px;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-style:  solid;
    border-color: #98A2B3;
    border-width: 1px;
}

.verifyemail {
    background-color: #f31559;
    color: #ffffff;
    border: unset;
    text-align: center;
    border-color: unset;
    border-radius: 7px;
    width: 320px;
    height: 36px;
    margin-top: 10px;
}

.resend-otp {
    color: #f31559;
    border: unset;
    text-align: center;
    border-color: unset;
    border-radius: 7px;
    width: 330px;
    height: 36px;
    margin-top: 28px;
}