body {
    background-color: #f7f7f7;
    /* margin-top: 12%; */
}

.container2 {
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    width: 50%;
    width: 407px;
    height: 360px;
    margin: auto;
    text-align: center;
}

.email-input {
    color: #012a4a;
    font-weight: 700;
    display: block;
    text-align: left;
    margin-top: 30px;
    padding-bottom: 5px;
}

.popbox2 {
    align-items: center;
    background-color: var(--white);
    flex-direction: column;
    width: 300px;
    gap: 5px;
    justify-content: center;
    padding: 20px 41px;
    position: relative;
}

h2 {
    color: #012a4a;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    padding-left: 12px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.forgot-password {
    margin-bottom: 30px;
}

#resetpassword-input {
    resize: vertical;
    min-height: 20px !important;
    max-height: 40px !important;
    width: 278px;
    border-radius: 5px;
    padding-left: 35px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #98A2B3;
    border-width: 1px;
    border-radius: 6px;
    border: 1px solid var(--Grey-400, #98A2B3);
    background: var(--White, #FFF);
}

p {
    color: #101828;
    font-family: "Inter-Regular", Helvetica;
    /* font-size: 13px; */
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
}

a {
    text-decoration: none;
}

.hey {
    text-align: center;
    padding: 0 0px 0 12px;
    font-size: 12px;
    color: var(--Main-Text, #101828);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 300px;
}

.mail-box {
    padding-left: 10px;
    padding-top: 14px;
    display: flex;
    position: absolute;
}

.reset-password {
    background-color: #f31559;
    color: #ffffff;
    border: unset;
    text-align: center;
    border-color: unset;
    border-radius: 7px;
    width: 330px;
    height: 36px;
    margin-top: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.back-to-login {
    color: #f31559;
    padding-left: 27px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding-top: 38px;
    cursor: pointer;
}

.logo {
    padding-bottom: 40px;
    height: auto;
    display: flex;
    gap: 14px;
    justify-content: center;
}

.LogiTrack {
    margin-top: 10px;
}